services:
  redis:
    image: redis
    restart: unless-stopped
    volumes:
      - redis-data:/data
    ports:
      - "6379:6379"

  livekit:
    image: livekit/livekit-server:master
    restart: unless-stopped
    command: >-
      --redis-host localhost:6379
      --bind {{ livekit_server_bind_address }}
      --keys "{{ livekit_api_key }}: {{ livekit_api_secret }}"
      --port {{ livekit_server_port }}
    network_mode: host
    depends_on:
      redis:
        condition: service_started

  sip:
    image: valen17/livekit-sip:fix-alpn-sip-2
    restart: unless-stopped
    network_mode: host
    depends_on:
      livekit:
        condition: service_started
    environment:
      SIP_CONFIG_BODY: |
        api_key: {{ livekit_api_key | to_json }}
        api_secret: {{ livekit_api_secret | to_json }}
        ws_url: {{ ws_url | to_json }}
        redis:
          address: {{ redis_address | to_json }}
        sip_port: {{ sip_udp_port }}
        rtp_port: {{ rtp_udp_start }}-{{ rtp_udp_end }}
        use_external_ip: true
        sip_hostname: {{ livekit_fqdn | to_json }}
        tls:
          port: {{ sip_tls_port }}
          certs:
          - cert_file: "/etc/letsencrypt/live/{{ livekit_fqdn }}/fullchain.pem"
            key_file: "/etc/letsencrypt/live/{{ livekit_fqdn }}/privkey.pem"
          alpn: []
          key_log: /var/log/livekit/sip_tls_keys.log
        logging:
          level: debug
    volumes:
      - /etc/letsencrypt/live/{{ livekit_fqdn }}/fullchain.pem:/etc/letsencrypt/live/{{ livekit_fqdn }}/fullchain.pem:ro
      - /etc/letsencrypt/live/{{ livekit_fqdn }}/privkey.pem:/etc/letsencrypt/live/{{ livekit_fqdn }}/privkey.pem:ro
      - /var/log/livekit:/var/log/livekit

volumes:
  redis-data:
