all:
  hosts:
    livekit_sip_vm:
      ansible_host: 203.0.113.20
      ansible_user: azureuser
      ansible_port: 22
      ansible_ssh_private_key_file: ~/.ssh/livekit_sip_vm_rsa
      ansible_python_interpreter: /usr/bin/python3
